<div class="socialicons">
    <h4 class="title">{{block.settings.socialtitle}}</h4>
    {% if block.settings.facebook == true %}
        <div class="facebook">
            <a href="{{block.settings.fblink}}">
                <img src="../assets/Facebook - Negative.png" alt="" srcset="">
            </a>            
        </div>
    {% endif %}

    {% if block.settings.twitter == true %}
    <div class="twitter">
        <a href="{{block.settings.twitterlink}}">
            <img src="../assets/Twitter - Negative.png" alt="" srcset="">
        </a>            
    </div>
    {% endif %}

    {% if block.settings.instagram == true %}
    <div class="instagram">
        <a href="{{block.settings.iglink}}">
            <img src="../assets/Instagram - Negative.svg" alt="" srcset="">
        </a>            
    </div>
    {% endif %}

    {% if block.settings.youtube == true %}
    <div class="youtube">
        <a href="{{block.settings.youtubelink}}">
            <img src="../assets/YouTube - Negative.png" alt="" srcset="">
        </a>            
    </div>

    {% if block.settings.pinterest == true %}
    <div class="pinterest">
        <a href="{{block.settings.pinterestlink}}">
            <img src="../assets/Pinterest - Negative.png" alt="" srcset="">
        </a>            
    </div>
    {% endif %}
</div>