{{ 'featuredLogoBrands.css' | asset_url | stylesheet_tag }}
{%- assign per_row = section.settings.per_row -%}
{%- assign product_limit = per_row | times: section.settings.rows -%}

{% style %}
.logo-bar--{{ section.id }} {
  opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};
}
{% endstyle %}
{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div class="logoBrands">
    {% if section.settings.title != blank %}
        <h3 class="sectionTitle">{{ section.settings.title }}</h3>  
    {% endif %}

    <div class="page-width {% if section.settings.mobile_scrollable %}page-width--flush-small{% endif %} desktopWidth">
        <div {% if section.settings.mobile_scrollable %}class="grid-overflow-wrapper"{% endif %}>
          <div class="grid grid--uniform" {% if section.settings.mobile_scrollable %}data-aos="overflow__animation"{% endif %}>
            {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    
            {% case per_row %}
            {% when 1 %}
              {%- assign grid_item_width = '' -%}
            {% when 2 %}
              {%- assign grid_item_width = 'medium-up--one-half' -%}
            {% when 3 %}
              {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
            {% when 4 %}
              {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
            {% when 5 %}
              {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
            {% when 6 %}
              {%- assign grid_item_width = 'small--one-half medium-up--one-sixth' -%}
            {% when 7 %}
              {%- assign grid_item_width = 'small--one-half medium-up--one-seventh' -%}
            {% when 8 %}
              {%- assign grid_item_width = 'small--one-half medium-up--one-eighth' -%}
            {% endcase %}
    
            {% if section.blocks.size > 0 %}
      
              <div class="grid__item">
                <div class="grid grid--uniform centerGridLayout">
                    <div class="logo-bar logo-bar--{{ section.id }} logoContainer">
                        {% for block in section.blocks %}
                          <div class="logo-bar__item" {{ block.shopify_attributes }}>
                            {% if block.settings.link != blank %}
                              <a href="{{ block.settings.link }}" class="logo-bar__link">
                            {% endif %}
                            {% if block.settings.image != blank %}
                              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                              <img class="logo-bar__image lazyload itemImageContainer"
                                  data-src="{{ img_url }}"
                                  data-widths="[180, 360, 540, 720]"
                                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                                  data-sizes="auto"
                                  alt="{{ block.settings.image.alt }}">
                            {% else %}
                              {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                            {% if block.settings.link != blank %}
                              </a>
                            {% endif %}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                </div>
              </div>
    
          </div>
        </div>
      </div>

    <div class="owl-carousel owl-theme">
       
    </div>


</div>

{% schema %}
{
  "name": "Brands list",
  "class": "index-section",
  "max_blocks": 1000,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default":"Featured in"
    },
    {
      "type": "range",
      "id": "logo_opacity",
      "label": "Logo opacity",
      "default": 76,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%"
    },
    {
        "type": "range",
        "id": "per_row",
        "label": "Brands per row",
        "default": 4,
        "min": 1,
        "max": 5,
        "step": 1
    },
    {
        "type": "range",
        "id": "rows",
        "label": "Rows of logos",
        "default": 1,
        "min": 1,
        "max": 5,
        "step": 1
    },
    {
        "type": "checkbox",
        "id": "mobile_scrollable",
        "label": "Enable swipe on mobile",
        "default": true
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Show section divider",
      "default": false
    }
  ],
  "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "Brands list",
      "category": "Image",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}
