{% style %}
.logo-bar--{{ section.id }} {
  opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};
}
{% endstyle %}

{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div class="page-width" data-aos="logo__animation">
  {% if section.settings.title != blank %}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

 <div class="ticker-carousel">
    <div class="carousel__view">
      <ul class="carousel__items">
        <li class="carousel__item">
          <div class="slide">
            <div class="card">
                {% if section.blocks.size > 0 %}
                <div class="logo-bar logo-bar--{{ section.id }}">
                  {% for block in section.blocks %}
                    <div class="logo-bar__item" {{ block.shopify_attributes }}>
                      {% if block.settings.link != blank %}
                        <a href="{{ block.settings.link }}" class="logo-bar__link">
                      {% endif %}
                      {% if block.settings.image != blank %}
                        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="logo-bar__image lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720]"
                            data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ block.settings.image.alt }}">
                      {% else %}
                        {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                      {% endif %}
                      {% if block.settings.link != blank %}
                        </a>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </li>
      </ul>
    </div>
  
    <div class="carousel__controls">  
      <button aria-label="previous" aria-disabled="true" class="prev disabled"><span class="icon icon-arrow-left">&lt;</span></button>
      <button aria-label="next" class="next"><span class="icon icon-arrow-right">&gt;</span></button>
    </div>
  </div>
</div>



{% if section.settings.divider %}</div>{% endif %}

{% schema %}
  {
    "name": "Carousel brands",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
       "default": "Featured In",
      },
      {
        "type": "range",
        "id": "logo_opacity",
        "label": "Logo opacity",
        "default": 76,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Carousel brands",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
