{% style %}
  .newsletter-{{ section.id }} {
    background-color: {{ section.settings.color_background }};
    color: {{ section.settings.color_text }};
  }

  .newsletter-{{ section.id }} .newsletter__input::-webkit-input-placeholder { color: {{ section.settings.color_text }}; }
  .newsletter-{{ section.id }} .newsletter__input::-moz-placeholder { color: {{ section.settings.color_text }}; }
  .newsletter-{{ section.id }} .newsletter__input::-ms-input-placeholder { color: {{ section.settings.color_text }}; }
  .newsletter-title{
    text-transform: capitalize;
  }
  .newsletter-description{
    text-transform: capitalize;
  }
  @media (min-width: 2560px){
    .newsletter-section{
      height: 600px;
    }
    .newsletter-description{
      font-size: 60px;
      width: 800px;
      line-height: 1;
    }
    .newsletter-section .page-width{
      margin-top: 7rem;
    }
    .newsletter-description p{
      text-align:center;
    }

  }
{% endstyle %}

<div class="newsletter-section newsletter-{{ section.id }}{% if section.settings.color_background == settings.color_body_bg %} newsletter-section--with-divider{% endif %}">
  <div class="page-width text-center">
    {% if section.settings.title != blank %}
      <p class="newsletter-title">{{ section.settings.title | escape }}</p>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="rte newsletter-description">{{ section.settings.text }}</div>
    {% endif %}

    {% render 'newsletter-form', section_id: section.id, snippet_context: 'section' %}
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
   "tag": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Sign up and save"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Subheading",
        "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background",
        "default": "#f9f9f9"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#1c1d1d"
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
